body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f2f2f2, #ccc); 
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(12, 12, 12); text-decoration: none;}
.bar {
    background: linear-gradient(to bottom, #f2f2f2, #ccc); 
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.centro{
    text-align: center;
    padding: 5%;
}

.pag1{
    text-align: center;
    padding: 3%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}
.pag2{
    text-align: center;
    padding: 3%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #f2f2f2, #ccc);
    border-radius: 10px;
    box-shadow: 15px 15px 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.links {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 15px;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(161, 161, 161);
    background: linear-gradient(to bottom, #ededed, #c0c0c0);
    border-radius: 10px;
    box-shadow: 15px 5px 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}


.img{
    width: 50%;
    height: 20%;
    float: inherit;
    padding: 5px;
     box-shadow: 15px 15px 55px;    
     border-radius: 10px;
     margin-left: 20%;
}
.img2 {
    width: 30%;
    height: 20%;
    float: inherit;
    padding: 5px;
    box-shadow: 15px 15px 55px;    
    border-radius: 10px;
    margin-left: 35%;
    margin-top: -200px; /* Este valor pode ser ajustado conforme necessário */
}
.img3{
    width: 600px;
    height: 300px;
    padding: 5px;
    box-shadow: 15px 15px 55px;    
    border-radius: 10px;
    margin-left: 10%;
    align-items: center;
}
.img4{
    width: 300px;
    height: 200px;
    padding: 5px;
    box-shadow: 15px 15px 55px;    
    border-radius: 10px;
    margin-left: 10%;
    align-items: center;
    margin: 15%;
}
.rf{
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.faixa{
    width: 600px;
    height: 300px;
    padding: 5px;
    box-shadow: 15px 15px 55px;    
    border-radius: 10px;
    margin-left: 10%;
    align-items: center;
}
.logo{
  
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Adicione uma cor de fundo, se necessário */
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima de outros elementos */

}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 2px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 2px #cdcdcd;
}
figure {
    text-align: center;
}
